*{
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    margin: 0;
    background: linear-gradient(135deg,#dff5ea,#c8ead8);
    height: 100vh;
}

.dashboard{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 90px 1fr;
}

/* Sidebar */
.sidebar{
    background: #0b6e4f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 25px;
    box-shadow: 3px 0 10px rgba(0,0,0,.15);
}

.icon{
    width: 45px;
    height: 45px;
    background: #c9f0de;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Content */
.content{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.header{
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status{
    background: #1dbf73;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}

/* Register */
.register-card{
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.register-card form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.register-card input{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #b6dfc9;
}

.register-card input:focus{
    outline: none;
    border-color: #1dbf73;
}

.register-card button{
    background: linear-gradient(90deg,#0b6e4f,#1dbf73);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

.register-card button:hover{
    opacity: .9;
}

.ticket{
    margin-top: 20px;
    text-align: center;
}

.ticket h3{
    font-size: 40px;
    color: #0b6e4f;
}

/* Queue */
.queue-section{
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.current{
    text-align: center;
}

.current h1{
    font-size: 50px;
    color: #0b6e4f;
}

.queue-list{
    margin-top: 20px;
}

.queue-list ul{
    list-style: none;
    padding: 0;
}

.queue-list li{
    padding: 10px;
    border-bottom: 1px solid #dff5ea;
    display: flex;
    justify-content: space-between;
}

/* Logo IMSS */
 .logo{
    width: 60px;
    margin-bottom: 20px;
}

.center-header{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.header h1{
    margin: 0;
    color: #0b6e4f;
    font-size: 32px;
}

.status{
    font-size: 14px;
}
